@charset "utf-8";
html,body,div,ul,ol,li,p,h1,h2,h3,h4,h5,h6,table,tr,td,iframe {
    margin: 0;
    padding: 0;
}

img {
    border: 0 none;
    vertical-align: middle;
}

body {
    font-family: "Microsoft Yahei";
    font-size: 14px;
    color: #000000;

}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    border-spacing: 0;
}

img {
    border: 0;
    vertical-align: middle;
}

textarea {
    resize: none;
}

select, input,textarea {
    font-size: 12px;
    margin: 0;
    vertical-align: middle;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #c81623;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    text-decoration: none;
}

s,i,em {
    font-style: normal;
    text-decoration: none;
}

input {
    outline-style: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.fl { float: left; }
.fr { float: right; }
.hide { display: none; }
.w { width: 960px; margin: 0 auto; }
.c { margin: 0 auto; }




































































































